.table {
  width: 95%;
  margin-inline: auto;
  border-collapse: collapse;
}

.row:nth-child(even) {
  background-color: #ddd;
}

.column {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
