.row:nth-child(odd) {
  background-color: #f2f2f2;
}

.column {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
  padding-bottom: 1.8rem;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
  vertical-align: top;
}

.description {
  color: #474a4e;
}

.column_button {
  padding: 0 3rem;
}

.status_column {
  padding: 0 1rem;
}

.ActiveStatus {
  color: #fff;
  background: #20b9df;
  font-weight: bold;
  min-width: 140px;
  padding: 1px 6px 0 6px;
  line-height: 24px;
  border-radius: 6px;
  text-align: center;
  margin: 0;
}

.status {
  color: #fff;
  background: #6f7275;
  font-weight: bold;
  min-width: 140px;
  padding: 1px 6px 0 6px;
  line-height: 24px;
  border-radius: 6px;
  text-align: center;
  margin: 0;
}

.row .button {
  font-size: 1.3rem;
  background: transparent;
  border-radius: 5px;
  min-width: 150px;
  line-height: 40px;
  border-color: #444a4f;
  color: #444a4f;
  cursor: pointer;
}

.row .buttonLeave {
  font-size: 1.3rem;
  background: transparent;
  border-radius: 5px;
  min-width: 150px;
  border-color: #f0080c;
  color: #f0080c;
  cursor: pointer;
}
