/* style for rockets */

.rocket-container {
  display: flex;
  margin: 20px 50px;
  gap: 20px;
}

.rocket-img {
  width: 400px;
}

.rocket-details {
  display: flex;
  flex-direction: column;
}

.rocket-reserve-btn {
  width: 150px;
  background-color: #0290ff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10PX;
}
